# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Workspace\Uniforms codebase based on best match to current usage at 12-4-2019
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# this. preferences
# underscore가 this를 의미하는데 굳이 필요없을 듯
# dotnet_style_qualification_for_field = true:suggestion
# dotnet_style_qualification_for_property = true:suggestion
# dotnet_style_qualification_for_method = true:suggestion
# dotnet_style_qualification_for_event = true:suggestion
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_readonly_field = true:suggestion
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_prefer_inferred_tuple_names = true:suggestion
dotnet_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion


###############################
# C# Coding Conventions       #
###############################
[*.cs]
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = false:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = false:silent
csharp_style_pattern_matching_over_as_with_null_check = false:silent
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

###############################
# Naming Conventions          #
###############################
# Style Definitions

## start with underscore style
dotnet_naming_style.start_with_underscore_style.required_prefix = _
dotnet_naming_style.start_with_underscore_style.capitalization = camel_case

## start with s_underscore style
dotnet_naming_style.start_with_s_underscore_style.required_prefix = s_
dotnet_naming_style.start_with_s_underscore_style.capitalization = camel_case

## Pascal style
dotnet_naming_style.pascal_style.capitalization = pascal_case

## Camelcase style
dotnet_naming_style.camel_case_style.capitalization = camel_case

## Private readonly fields
dotnet_naming_symbols.private_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.private_readonly_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_readonly_fields.required_modifiers = readonly

dotnet_naming_rule.private_readonly_fields_should_start_with_underscore.severity = suggestion
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore.symbols = private_readonly_fields
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore.style = start_with_underscore_style

## Private const fields
dotnet_naming_symbols.private_const_fields.applicable_kinds = field
dotnet_naming_symbols.private_const_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_const_fields.required_modifiers = const

dotnet_naming_rule.private_const_should_start_with_underscore.severity = suggestion
dotnet_naming_rule.private_const_should_start_with_underscore.symbols = private_const_fields
dotnet_naming_rule.private_const_should_start_with_underscore.style = pascal_style

## Private, Protected static fields
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private, protected
dotnet_naming_symbols.private_static_fields.required_modifiers = static

dotnet_naming_rule.private_protected_static_should_start_with_underscore.severity = suggestion
dotnet_naming_rule.private_protected_static_should_start_with_underscore.symbols = private_static_fields
dotnet_naming_rule.private_protected_static_should_start_with_underscore.style = start_with_s_underscore_style

## Public const fields
dotnet_naming_symbols.public_const_fields.applicable_kinds = field
dotnet_naming_symbols.public_const_fields.applicable_accessibilities = public
dotnet_naming_symbols.public_const_fields.required_modifiers = const

dotnet_naming_rule.public_const_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.public_const_should_be_pascal_case.symbols = public_const_fields
dotnet_naming_rule.public_const_should_be_pascal_case.style = pascal_style

## Private methods
dotnet_naming_symbols.private_methods.applicable_kinds = method
dotnet_naming_symbols.private_methods.applicable_accessibilities = private

dotnet_naming_rule.private_methods_should_start_with_underscore.severity = suggestion
dotnet_naming_rule.private_methods_should_start_with_underscore.symbols = private_methods
dotnet_naming_rule.private_methods_should_start_with_underscore.style = pascal_style

## Protected fields
dotnet_naming_symbols.protected_field.applicable_kinds = field
dotnet_naming_symbols.protected_field.applicable_accessibilities = protected

dotnet_naming_rule.protected_field_should_start_with_underscore.severity = suggestion
dotnet_naming_rule.protected_field_should_start_with_underscore.symbols = protected_field
dotnet_naming_rule.protected_field_should_start_with_underscore.style = start_with_underscore_style

## parameters
dotnet_naming_symbols.parameters.applicable_kinds = parameter

dotnet_naming_rule.parameters_should_be_camelcase.severity = warning
dotnet_naming_rule.parameters_should_be_camelcase.symbols = parameters
dotnet_naming_rule.parameters_should_be_camelcase.style = camel_case_style

###############################
# Guidelines                  #
###############################
# All files
[*]
guidelines = 80

# Standard properties
insert_final_newline = true

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async, required:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
# csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
dotnet_naming_rule.parameters_should_be_camelcase_rule.import_to_resharper = True
dotnet_naming_rule.parameters_should_be_camelcase_rule.resharper_description = parameters_should_be_camelcase
dotnet_naming_rule.parameters_should_be_camelcase_rule.resharper_guid = e8183a7e-4166-4395-bbd2-101c008ec939
dotnet_naming_rule.parameters_should_be_camelcase_rule.severity = suggestion
dotnet_naming_rule.parameters_should_be_camelcase_rule.style = lower_camel_case_style_1
dotnet_naming_rule.parameters_should_be_camelcase_rule.symbols = parameters_should_be_camelcase_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = suggestion
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_const_should_start_with_underscore_rule.import_to_resharper = True
dotnet_naming_rule.private_const_should_start_with_underscore_rule.resharper_description = private_const_should_start_with_underscore
dotnet_naming_rule.private_const_should_start_with_underscore_rule.resharper_guid = c529fa53-b021-4946-bd5d-351d1605ae98
dotnet_naming_rule.private_const_should_start_with_underscore_rule.severity = suggestion
dotnet_naming_rule.private_const_should_start_with_underscore_rule.style = upper_camel_case_style
dotnet_naming_rule.private_const_should_start_with_underscore_rule.symbols = private_const_should_start_with_underscore_symbols
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.import_to_resharper = True
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.resharper_description = private_methods_should_start_with_underscore
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.resharper_guid = ded6022e-dbf9-48a9-9610-0d7370fb76f1
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.severity = suggestion
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.style = upper_camel_case_style
dotnet_naming_rule.private_methods_should_start_with_underscore_rule.symbols = private_methods_should_start_with_underscore_symbols
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.import_to_resharper = True
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.resharper_description = private_protected_static_should_start_with_underscore
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.resharper_guid = f5651dbd-ea8b-4a00-8d7e-6247b9c36bab
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.severity = suggestion
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.style = s_lower_camel_case_style
dotnet_naming_rule.private_protected_static_should_start_with_underscore_rule.symbols = private_protected_static_should_start_with_underscore_symbols
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.import_to_resharper = True
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.resharper_description = private_readonly_fields_should_start_with_underscore
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.resharper_guid = b11fee87-c25b-4dc0-8091-04e94fb09613
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.severity = suggestion
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.style = lower_camel_case_style
dotnet_naming_rule.private_readonly_fields_should_start_with_underscore_rule.symbols = private_readonly_fields_should_start_with_underscore_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = suggestion
dotnet_naming_rule.private_static_fields_rule.style = s_lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.resharper_style = s_ + aaBb, _ + aaBb
dotnet_naming_rule.private_static_readonly_rule.severity = suggestion
dotnet_naming_rule.private_static_readonly_rule.style = s_lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.import_to_resharper = True
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.resharper_description = protected_field_should_start_with_underscore
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.resharper_guid = 18574c6a-2281-477f-b3ea-01989adc226c
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.severity = suggestion
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.style = lower_camel_case_style
dotnet_naming_rule.protected_field_should_start_with_underscore_rule.symbols = protected_field_should_start_with_underscore_symbols
dotnet_naming_rule.public_const_should_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.public_const_should_be_pascal_case_rule.resharper_description = public_const_should_be_pascal_case
dotnet_naming_rule.public_const_should_be_pascal_case_rule.resharper_guid = dc74ffcd-0597-46a5-804a-73b8c4dd6d7b
dotnet_naming_rule.public_const_should_be_pascal_case_rule.severity = suggestion
dotnet_naming_rule.public_const_should_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.public_const_should_be_pascal_case_rule.symbols = public_const_should_be_pascal_case_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.s_lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.s_lower_camel_case_style.required_prefix = s_
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.parameters_should_be_camelcase_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.parameters_should_be_camelcase_symbols.applicable_kinds = parameter
dotnet_naming_symbols.parameters_should_be_camelcase_symbols.resharper_applicable_kinds = parameter
dotnet_naming_symbols.parameters_should_be_camelcase_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_const_should_start_with_underscore_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_const_should_start_with_underscore_symbols.applicable_kinds = field
dotnet_naming_symbols.private_const_should_start_with_underscore_symbols.required_modifiers = const
dotnet_naming_symbols.private_const_should_start_with_underscore_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_const_should_start_with_underscore_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_methods_should_start_with_underscore_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_methods_should_start_with_underscore_symbols.applicable_kinds = method
dotnet_naming_symbols.private_methods_should_start_with_underscore_symbols.resharper_applicable_kinds = method
dotnet_naming_symbols.private_methods_should_start_with_underscore_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_protected_static_should_start_with_underscore_symbols.applicable_accessibilities = local,private,protected
dotnet_naming_symbols.private_protected_static_should_start_with_underscore_symbols.applicable_kinds = field
dotnet_naming_symbols.private_protected_static_should_start_with_underscore_symbols.required_modifiers = static
dotnet_naming_symbols.private_protected_static_should_start_with_underscore_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.private_protected_static_should_start_with_underscore_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_readonly_fields_should_start_with_underscore_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_readonly_fields_should_start_with_underscore_symbols.applicable_kinds = field
dotnet_naming_symbols.private_readonly_fields_should_start_with_underscore_symbols.required_modifiers = readonly
dotnet_naming_symbols.private_readonly_fields_should_start_with_underscore_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_readonly_fields_should_start_with_underscore_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.protected_field_should_start_with_underscore_symbols.applicable_accessibilities = local,protected
dotnet_naming_symbols.protected_field_should_start_with_underscore_symbols.applicable_kinds = field
dotnet_naming_symbols.protected_field_should_start_with_underscore_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.protected_field_should_start_with_underscore_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.public_const_should_be_pascal_case_symbols.applicable_accessibilities = local,public
dotnet_naming_symbols.public_const_should_be_pascal_case_symbols.applicable_kinds = field
dotnet_naming_symbols.public_const_should_be_pascal_case_symbols.required_modifiers = const
dotnet_naming_symbols.public_const_should_be_pascal_case_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.public_const_should_be_pascal_case_symbols.resharper_required_modifiers = any
dotnet_separate_import_directive_groups = true
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# ReSharper properties
resharper_csharp_empty_block_style = together_same_line
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_embedded_block_arrangement = true
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_initializer_arrangement = false
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_this_qualifier_highlighting = hint
resharper_identifier_typo_highlighting = none
resharper_inconsistent_naming_highlighting = suggestion
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_deconstruction_declarations_highlighting = none

# C# or VB files
[*.{cs,vb}]
guidelines = 80, 120

[*.{appxmanifest,asax,ascx,aspx,axaml,axml,build,c,c++,cc,cginc,compute,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,htm,html,hxx,inc,inl,ino,ipp,jsproj,lsproj,master,mpp,mq4,mq5,mqh,njsproj,nuspec,paml,proj,props,razor,resw,resx,skin,StyleCop,targets,tasks,tpp,usf,ush,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
